<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Alpalytics- Portal Analytics</title>
  <meta charset="utf-8">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
  </style>
</head>

<body>

  <div id="container" style="
  display: table;
  width: 800px;
  height: 600px; 
  margin: 0 auto;
  background-color: #F4F3C8;
  ">
    <!-- header top image -->
    <div id="header">
      <img src="cid:topRandomUserAccessImg" alt="Top random user access" width="800px" height="142px"></img>
    </div>

    <!-- content -->
    <div style="
      display: table;
      width: 100%;
      height: 100%;
    ">

      <!-- description -->
      <div align="right" style="height: auto; margin-top: 20px; margin-right: 37px; vertical-align: middle;">
        <p style="font: 32px  'Oswald', sans-serif; font-weight: 400; color: #FFA000; height: 20px;">
          Você pediu, tá na mão! Essa é sua senha
        </p>
        <p style="font: 32px  'Oswald', sans-serif; font-weight: 400; color: #FFA000; height: 20px;">
          de acesso válida por 06 horas
        </p>
      </div>

      <!-- password -->
      <div style="height: auto;">
        <p align="right"
          style="font: 60px 'Oswald', sans-serif; font-weight: 400; color: #FF7A00; margin-right: 37px; height: 20px;">
          {{@password}}
        </p>
      </div>

      <!-- link and bottom image -->
      <a href="https://alpalytics.alpargatas.com.br/">
        <img src="cid:bottomRandomUserAccessImg" alt="Bottom random user access" width="800px" height="368px">
        </img>
      </a>
    </div>
  </div>

</body>

</html>