<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Alpalytics- Portal Analytics</title>
  <meta charset="utf-8">
</head>

<body>

  <div id="container" style="
  display: table;
  width: 800px;
  height: 600px; 
  margin: 0 auto;
  background-color: #F4F3C8;
  ">
    <!-- header top image -->
    <div id="header">
      <a href="http://localhost:3000/user-first-access/{{@userFirstAccessToken}}">
        <img src="cid:userFirstAccessImg" alt="User first access" width="800px" height="600px"></img>
      </a>
    </div>

    <!-- content -->
    <div style="
      display: table;
      width: 100%;
      height: 100%;
    ">

    </div>
  </div>

</body>

</html>